<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="col-lg-8 container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/img/logo.png" alt="" width="100" height="50" />
      </a>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <form class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-1">
              <a class="nav-link" href="#">Boutiques</a>  
              <a class="nav-link" href="#">Marques</a>
            <a class="nav-link" href="#">se connecter</a>
          </ul>
          <button class="btn primary-color" type="submit">DIFFUSEZ VOTRE ANNONCE</button>
        </form>
      </div>
    </div>
  </nav>